@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

body {
    font-family: "Merriweather", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 100px;
    /* height: 100vh; */
    /* margin: 0; */
}

.board {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    height: 400px;
    width: 400px;
    /* cursor: none; */
}

.box {
    box-sizing: border-box;
}
.changeSize {
    margin-bottom: 25px;
    margin-top: 25px;
}
