@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#mainH1 {
    margin-bottom: 0;
}

.board {
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    /* cursor: none; */
}

div {
    display: flex;
    /* border: solid 0.5px black; */
}


.changeSize {
    margin-bottom: 25px;
    margin-top: 25px;
}